
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">So Sánh Sản Phẩm</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Trang Chủ</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Đối Chiếu Thanh Toán</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Compare Section:::... -->
<div class="compare-section">
    <!-- Start Cart Table -->
    <div class="compare-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive compare-table">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td class="first-column">Sản Phẩm</td>
                                        <td class="product-image-title">
                                            <a href="product-details-default.html" class="image">
                                                <img src="~/assets/images/product/default/home-1/default-1.jpg"
                                                     alt="Compare Product">
                                            </a>
                                            <a href="shop-grid-sidebar-left.html" class="category">Furniture</a>
                                            <a href="product-details-default.html" class="title">Rinosin title</a>
                                        </td>
                                        <td class="product-image-title">
                                            <a href="product-details-default.html" class="image">
                                                <img src="~/assets/images/product/default/home-1/default-2.jpg"
                                                     alt="Compare Product">
                                            </a>
                                            <a href="shop-grid-sidebar-left.html" class="category">Furniture</a>
                                            <a href="product-details-default.html" class="title">Macro title</a>
                                        </td>
                                        <td class="product-image-title">
                                            <a href="product-details-default.html" class="image">
                                                <img src="~/assets/images/product/default/home-1/default-3.jpg"
                                                     alt="Compare Product">
                                            </a>
                                            <a href="shop-grid-sidebar-left.html" class="category">Furniture</a>
                                            <a href="product-details-default.html" class="title">Oakley title</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">Mô Tả</td>
                                        <td class="pro-desc">
                                            <p>back-end nha tú</p>
                                        </td>
                                        <td class="pro-desc">
                                            <p>back-end nha tú</p>
                                        </td>
                                        <td class="pro-desc">
                                            <p>back-end nha tú</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">Giá</td>
                                        <td class="pro-price">$225</td>
                                        <td class="pro-price">back-end nha tú</td>
                                        <td class="pro-price">back-end nha tú</td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">Màu Sắc</td>
                                        <td class="pro-color">Black</td>
                                        <td class="pro-color">back-end nha tú</td>
                                        <td class="pro-color">back-end nha tú</td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">Thêm Vào Giỏ</td>
                                        <td class="pro-addtocart">
                                            <a href="#" class="btn btn-md btn-golden"
                                               data-bs-toggle="modal" data-bs-target="#modalAddcart">
                                                <span>
                                                    ADD TO
                                                    CART
                                                </span>
                                            </a>
                                        </td>
                                        <td class="pro-addtocart">
                                            <a href="#" class="btn btn-md btn-golden"
                                               data-bs-toggle="modal" data-bs-target="#modalAddcart">
                                                <span>
                                                    ADD TO
                                                    CART
                                                </span>
                                            </a>
                                        </td>
                                        <td class="pro-addtocart">
                                            <a href="#" class="btn btn-md btn-golden"
                                               data-bs-toggle="modal" data-bs-target="#modalAddcart">
                                                <span>
                                                    ADD TO
                                                    CART
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first-column">Xóa</td>
                                        <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                        <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                        <td class="pro-remove"><button><i class="fa fa-trash-o"></i></button></td>
                                    </tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->
</div> <!-- ...:::: Start Compare Section:::... -->
