use master
go
if exists (select name from sysdatabases where name = N'SQL_BeautyHome')
drop database [SQL_BeautyHome]
go
CREATE DATABASE [SQL_BeautyHome]
go
USE [SQL_BeautyHome]
GO
/****** Object:  Table [dbo].[comment_product]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_product](
	[comment_puduct_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[txt_comment] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_puduct_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furniture]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furniture](
	[furniture_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[furniture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_product]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_product](
	[product_id] [bigint] NOT NULL,
	[url_Image1] [varchar](200) NULL,
	[url_Image2] [varchar](200) NULL,
	[url_Image3] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[full_name] [nvarchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [varchar](11) NULL,
	[mail] [varchar](50) NULL,
	[product_name] [nvarchar](50) NULL,
	[price] [float] NULL,
	[total_price] [float] NULL,
	[date_order] [datetime] NULL,
	[datereceived] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_product_id] [bigint] NULL,
	[name] [nvarchar](50) NULL,
	[descriptionDetails] [nvarchar](1000) NULL,
	[description] [nvarchar](1000) NULL,
	[evaluate] [float] NULL,
	[amount] [float] NULL,
	[price] [float] NULL,
	[color] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_product]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_product](
	[type_product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[furniture_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[type_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 04/07/2021 4:12:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](11) NULL,
	[role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[furniture] ON 

INSERT [dbo].[furniture] ([furniture_id], [name]) VALUES (1, N'Đèn ')
INSERT [dbo].[furniture] ([furniture_id], [name]) VALUES (2, N'Bàn ')
INSERT [dbo].[furniture] ([furniture_id], [name]) VALUES (3, N'Ghế')
SET IDENTITY_INSERT [dbo].[furniture] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[type_product] ON 

INSERT [dbo].[type_product] ([type_product_id], [name], [furniture_id]) VALUES (1, N'Bàn ăn ', 1)
INSERT [dbo].[type_product] ([type_product_id], [name], [furniture_id]) VALUES (2, N'Bàn học - bàn làm việc', 1)
INSERT [dbo].[type_product] ([type_product_id], [name], [furniture_id]) VALUES (3, N'Bàn trà - bàn khách', 1)
SET IDENTITY_INSERT [dbo].[type_product] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [user_name], [password], [full_name], [address], [email], [phone], [role]) VALUES (1, N'admin', '21232f297a57a5a743894a0e4a801fc3', N'admin', N'admin', N'admin@admin', N'1234567890', 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[comment_product]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[image_product]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([type_product_id])
REFERENCES [dbo].[type_product] ([type_product_id])
GO
ALTER TABLE [dbo].[type_product]  WITH CHECK ADD FOREIGN KEY([furniture_id])
REFERENCES [dbo].[furniture] ([furniture_id])
GO
